
/*колір основного тексту rgba(33, 33, 33, 1) */
/*вторичній колір тексту rgba(117, 117, 117, 1)*/
/*білий колір тексту footer, hero rgba(255, 255, 255, 1)*/
/* акцент синій rgba(33, 150, 243, 1)*/
 /* фон hero rgba(47, 48, 58, 1) */
 /* фон секции 3 (для index.html rgba(245, 244, 250, 1) */

 .root {
    --primary-text-color: rgba(33, 33, 33, 1);
    --accent-color: rgba(33, 150, 243, 1);
 }

 body {
    color:var(--primary-text-color);
    background-color: #FFFFFF;
font-family: "Roboto", sans-serif;
    letter-spacing: 0.03em;
 
}
 ul {
     list-style: none;
 }
a {
    text-decoration:none;
}
 /*  HEADER  */
 /* logo */
 .logo {
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    line-height: 1.19;
    font-weight: 700;
 }
.logo-partone
{
    color: rgba(33, 150, 243, 1); 
}
.logo-partsecond 
    {
    color:rgba(33, 33, 33, 1);
}
.navigation{
font-style: Medium;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    font-weight: 500;
}
.site-nav {
    color: var(--primary-text-color);
}
.site-nav:hover,
.site-nav:focus {
    color: var(--accent-color);   
}

.contact {
    color: rgba(117, 117, 117, 1)}
.contact:hover,
.contact:focus {
    color: var(--accent-color);
}

.current {
   color: rgba(33, 150, 243, 1); 
}
/* Page index */
/* HERO */
.hero {
    background-color: rgba(47, 48, 58, 1);
    
}
.hero-button {
    background-color: rgba(33, 150, 243, 1);
    color: rgba(255, 255, 255, 1);
    text-align: center;
    font-style: Bold;
     font-size: 16px;
      line-height: 1.9;
    font-family: inherit;
    border: none;
    letter-spacing: 0.06em;
    font-weight: 700;
}
.hero-title {
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    font-style: Black;
     font-size: 44px;
      line-height: 1.36;
    text-align:center;
    letter-spacing: 0.06em;
    font-weight: 900;
}
 
/* OUR ADVANTAGES */

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.advantages-caption {
    text-transform: uppercase;
    font-style: Bold;
     font-size: 14px;
      line-height: 1.14;
}
.advantages-text {
    color: rgba(117, 117, 117, 1);
    font-style: Regular;
     font-size: 14px;
      line-height: 2;  
}
/* WHAT WE DO */

.what-we-do-caption {
    text-align: center;
    font-style: Bold;
     font-size: 36px;
      line-height: 1.16;
}

  /* OUR TEAM  */
.team {
    background-color: rgba(245, 244, 250, 1);
    
}
.team {
text-align: center;
}
.team-caption {
font-style: 700;
    font-size: 36px;
    line-height: 1.16;   
}
.team-list {
font-size: 16px;
line-height: 1.19p;
}
.team-list-caption {
    font-style: Medium;
        font-weight: 500;
}
.team-list-text {
    color: rgba(117, 117, 117, 1);  
}
/* footer */
address {
    font-style: normal;
}
.footer {
    background-color: rgba(47, 48, 58, 1);
    font-size: 14px;
        line-height: 2;
}

.item-address {
    color: rgba(255, 255, 255, 1);
}
.item,
.item-mail {
    color: rgba(117, 117, 117, 1);
}
.logo-partthird {
    color: rgba(255, 255, 255, 1);
    }

/* Page Portfolio */

.list-button{
font-style: medium;
    font-size: 16px;
    line-height: 1.6;
    font-weight: 500;
}
.button-project {
 color: var(--primary-text-color);
 background-color: rgba(245, 244, 250, 1);
font-family: inherit;
border: none;
}
.button-project:hover,
.button-project:focus{
    color: rgba(245, 244, 250, 1);
background-color: rgba(33, 150, 243, 1);
}
.button-project-all {
    color: rgba(245, 244, 250, 1);
        background-color: rgba(33, 150, 243, 1);
        font-family: inherit;
            border: none;
}
.caption-project {
font-style: bold;
font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.text-project {
    color: rgba(117, 117, 117, 1);
        font-size: 18px;
        line-height: 1.9;
}






